{% extends 'shared/layouts/base.njk' %}
{% block main %}
    {% include 'partials/bigger-banner.njk' %}
    <div class="row">
        <div class="col-4"></div>
        <div class="col-6">
            <h3>Spring 2025 Tour Dates</h3>
            <ul>
                <li>May 1 - Roudnice, Czech Republic</li>
                <li>May 2 - Olomouc, Czech Republic</li>
                <li>May 3 - Jesenik, Czech Republic</li>
                <li>May 5 - Amsterdam, NL</li>
                <li>May 9 - Amsterdam, NL</li>
                <li>May 17 - Roudnice, Czech Republic</li>
                <li>May 29 - Prague, Czech Republic</li>
                <li>June 12 - Berlin, DE</li>
                <li>June 20 - Lancaster, NH, USA</li>
                <li>June 24 - New York, NY, USA</li>
            </ul>

        </div>
    </div>


    <div id="page-build-metadata">
        Page build metadata:<br/>
        <ul>
            <li>
                Build on ref:
                {{ latest_git_commit }}
            </li>
            <li>
                Mainnet block height
                {{ chainData.mainnetBlockNumber }}
            </li>
            <li>
                Optimism block height
                {{ chainData.optimismBlockNumber }}
            </li>
            <li>
                Optimism Sepolia block height
                {{ chainData.optimismSepoliaBlockNumber }}
            </li>
        </ul>
    </div>
{% endblock %}