{% extends 'shared/layouts/base.njk' %}
{% block main %}
    {% include 'partials/bigger-banner.njk' %}
    <div class="row justify-content-center">
        <img class="img-fluid w-50" src="{{ get_image("RC1GorillaPoster.jpg") }}"/>
    </div>


    <div id="page-build-metadata">
        Page build metadata:<br/>
        <ul>
            <li>
                Build on ref:
                {{ latest_git_commit }}
            </li>
            <li>
                Mainnet block height
                {{ chainData.mainnetBlockNumber }}
            </li>
            <li>
                Optimism block height
                {{ chainData.optimismBlockNumber }}
            </li>
            <li>
                Optimism Sepolia block height
                {{ chainData.optimismSepoliaBlockNumber }}
            </li>
        </ul>
    </div>
{% endblock %}