{% extends 'shared/layouts/base.njk' %}
{% block main %}
    {% include 'partials/bigger-banner.njk' %}


    <div id="content" class="container text-light all-shows-list">
        <div class="col-md-12">
            {% set title_as_link = true %}
            {% for show_metadata in shows %}
                {% set show = show_metadata[1] %}
                {% set show_id = show_metadata[0] %}
                {% include "partials/single-show-overview.njk" %}
            {% endfor %}
        </div>
    </div>
{% endblock %}