<div class="ticket-stub-container row">
    <div class="col-6" id="ticket-stub-front-{{ ticketStub.tokenId }}">
        <img src="{{ get_image("ticket-stub-gridremoved.png") }}"/>

        <div class="band-names">
            Justin Holmes and The Immutable String Band
            <br/>&<br/>
            Band No. 7
        </div>

        <div class="venue">
            {{show.venue}}
            <br/>
            <div class="locality">
                {{show.locality}}, {{show.region1}}
            </div>
        </div>

        <div class="ticket-stub-datetime">
            <p class="small">Showtime blockheight:</p>
            {{ show.blockheight }}
        </div>

        <div class="ticket-stub-number">
            <div class="rabbit-hash">
                <p class="small">Rabbit hash:</p>
                {{ ticketStub.rabbitHash }}
            </div>
            {{ ticketStub.tokenId }} / {50-99}
        </div>
    </div>

    <div class="col-5 ticket-stub-foldout">
        <div class="ticket-stub-secret-warning-text">
            <br/><br/>
            <h3>SECRET<br/>UNDERNEATH</h3>
            <p>Remove sticker and unfold<br/> to claim 721 onchain</p>
        </div>
    </div>
    <div class="col-2"></div>
</div>