<div class="details">
Shady Grove, my little love
Shady Grove I say
Shady Grove, my little love
I'm bound to go away

When I was a little boy
I wanted a Barlow knife
And now I want little Shady Grove
To say she'll be my wife
</div>

<div class="ticket-stub-container">
    <img src="{{ get_image("ticket-stub-gridremoved.png") }}"/>

    <div class="band-names">
            Justin Holmes and The Immutable String Band
        </div>
    <div class="venue">
        {{show.venue}}
        <br/>
        <div class="locality">
            {{show.locality}}, {{show.region1}}
        </div>
    </div>
    <div class="ticket-stub-number">
        {{ ticketStub.tokenId }} / 50
        </div>
</div>