
<div class="ticket-stub-container">
    <img src="{{ get_image("ticket-stub.png") }}"/>

    <div class="ticket-stub-number">
        {{ ticketStub.tokenId }} / 50
    </div>
</div>

<a href="/blox-office/claim/blah blah">
Click here to claim / move this ticket stub
</a>
