
<div class="row">
    {% include 'partials/ticketstub-front.njk' %}
</div>
<div class="row">
    <div class="claim-link">
        <a href="/blox-office/claim/blah blah">
            Click here to claim / move this ticket stub
        </a>
    </div>
</div>